.About {
  display: flex;
  font-family: "Muli", NanumBarunGothic, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  justify-content: center;
  margin: 10rem 10rem 10rem -1rem;
  align-items: center;
  height: 25rem;

  img {
    float: left;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin: auto;
    padding: auto;
    width: 12rem;
    height: 12rem;
    // margin-bottom: 13%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
    border-radius: 90%;
  }

  .About-Head {
    margin: 6.5rem;
    padding-right: 10rem;
    padding-left: 5rem;
    font-size: 5.5rem;
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    letter-spacing: 0.3rem;
  }

  .About-Body {
    padding-top: 1rem;
    align-items: flex-end;
    font-size: 1rem;
    font-weight: lighter;
  }

  .Menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    margin-left: -4rem;
  }
}
