.About {
  display: flex;
  justify-content: center;
  margin: 10rem 10rem 10rem -1rem;
  align-items: center;
  height: 25rem;

  .About-Head {
    margin: 6.5rem;
    padding-right: 10rem;
    padding-left: 5rem;
    font-size: 5.5rem;
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    letter-spacing: 0.3rem;
  }

  .About-Body {
    padding-top: 1rem;
    align-items: flex-end;
    font-size: 1rem;
    font-weight: lighter;
  }
}
