.Menu {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  line-height: 3rem;
  background-color: #32383d;

  .Body {
    display: flex;
    padding-right: 10rem;
    padding-top: 5rem;
    // height: 50rem;
    // width: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Avenir Next Bold, sans-serif;
  }

  .link {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    color: white;
  }
}
