.Menu {
  line-height: 3rem;

  .Body {
    font-family: Avenir Next Bold, sans-serif;
  }

  .link {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    color: #4c555c;
  }
}
